:root {
    --blue-orage: #004563;
    --blue-hcl: #00ade9;
    --bleu-pale: #9dd3cf;
    --white: #ffffff;
}

body {
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.2;
}

body > .container {
    flex-grow: 1;
}

.header {
    background-color: var(--blue-orage);
    position: sticky;
    top: 0;
    z-index: 1001;
    transition: 0.6s;
}

.header__content {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: 0.6s;
    padding: 0;
}

.header__content-linkLogo {
    transition: 0.6s;
    display: flex;
}
.header__content-logo {
    max-width: 120px;
    transition: 0.6s;
}

.header__content-fake {
    width: 0px;
}

.header__content-title {
    color: var(--white);
    font-size: 1.2em;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.footer {
    background-color: var(--blue-orage);
    color: var(--white);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.footer--login {
    margin-bottom: 0;
}

.footer__link {
    color: var(--white);
    cursor: pointer;
}

.footer__link:hover {
    color: var(--white);
}

.footer__follow {
    text-transform: uppercase;
    margin-top: 0;
}

.footer__socials {
    display: flex;
    gap: 1rem;
}

.footer__socials-item > img {
    width: 30px;
}

/* css rules for hidding content */
.nav-bar-menu > .nav-bar-container > .nav-bar-icon:first-child {
    display: none;
}

.nav-bar-menu > .nav-bar-container > .menu-item-link[href='/advanced'] {
    display: none;
}

.nav-bar-menu > .nav-bar-container > .nav-bar-first {
    width: 100%;
    justify-content: center;
}

.graph-summary-container > .graph-summary > .graph-link {
    text-transform: initial;
}

@media screen and (min-width: 768px) {
    body {
        line-height: 1.5;
    }
}
@media screen and (min-width: 768px) {
    .header {
        background-image: url('../assets/grid.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .header__content {
        padding: 1rem 0.5rem;
        height: 192px;
    }
    .header__content-title {
        font-size: 2em;
    }
    .header__content-fake {
        width: 100px;
    }

    .header__content-grid {
        display: block;
    }

    .header.sticky .header__content {
        height: 80px;
    }

    .header.sticky .header__content-linkLogo {
        transform: scale(0.5);
        transform-origin: left;
    }

    .header.sticky .header__content-fake {
        transform: scale(0.5);
    }
}

/* css rules to display resource in "column" mode */
@media screen and (min-width: 768px) {
    .resource .detail .main-resource-section .property {
        flex-direction: row;
        gap: 1rem;
    }
    
    .resource .detail .main-resource-section .property .property_label_container {
        flex-basis: 150px;
        padding-top: 0.5rem;
        flex-shrink: 0;
    }
}

.resource .detail .main-resource-section .property .property_label_container .property_label {
    font-size: inherit!important;
}
